<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <title>About</title>
</head>
<body>
<div class="container-fluid">
    <div class="row navbar">
        <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/home/">Azimjon's Blog</a></div>
        <div class="col-12 col-md-6 col-sm-6 navbar-link">
            <div><a href="/about/">About</a></div>
            <div><a href="/blog/">Blog</a></div>
            <div><a href="/">Home</a></div>
        </div>
    </div>
    <div class="row aboutme">
        <div class="col-12">
            <h1>About me</h1>
        </div>
    </div>
    <div class="row main">
        <div class="col-12">
            <p>I am Azimjon Pulatov, a 22-year-old <b>Software Engineer</b> from Tashkent, Uzbekistan, currently living
                in Warsaw, Poland.
                <br>
                <br>
                I am always contributing to developer events by giving a talkor as a mentor, especially the ones that
                engage women in tech.As a developer, I really want to see more diversity in theindustry.</p>
            <img src="/about/photo/05-Medical-Coder-1265022338-1.jpg" alt="">
            <h5>DjangoGirls, Tashkent</h5>
            <p>Recently I experimented working standing and found it really useful to stay focused and a little
                healthier. I was able to transform my workstation with the books I read.</p>
            <img src="/about/photo/Characteristics-of-a-Coder-800x499.jpg" alt="">
            <h5>Super Dispatch, Tashkent office</h5>
            <p>I am also known as <b>"lazy programmer"</b>, very handy nature for programmers. I love repetitive tasks,
                I see them as an opportunity for automation. Also, whenever I am not working standing, you find me
                working laying on a sofa.</p>
            <img src="/about/photo/cheerful-positive-coder.jpg" alt="">
            <h5>GroundZero Chilanzar, Tashkent</h5>
            <p>In short, it's me, Azimjon, a friendly programmer from Uzbekistan. You can read my story of becoming a
                software engineer.</p>
        </div>
    </div>
    <div class="footer">
        <p>© 2021 azimjon.com</p>
    </div>
</div>
</body>
</html>