<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bir.css">
    <title>Azimjon's Blog</title>
</head>
<body>
    <div class="container">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/home/">Azimjon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="{% url 'about' %}">About</a></div>
                <div><a href="{% url 'blog' %}">Blog</a></div>
{#                <div><a href="/channel/">Channel</a></div>#}
            </div>
        </div>
        <div class="row header">
            <div class="col-12 col-md-3 col-sm-12 header-img">
                <img src="../photo/boy.jpg" alt="">
            </div>
            <div class="col-12 col-md-9 col-sm-12 header-text">
                <h1>Azimjon Pulatov</h1>
                <p>Software Engineer</p>
                <a href="#"><img src="/static/youtube.png" alt=""></a>
                <a href="#"><img src="/static/twitter.png" alt=""></a>
                <a href="#"><img src="/static/github.png" alt=""></a>
                <a href="#"><img src="/static/in.png" alt=""></a>
            </div>
            <div class="col-12 col-md-12 col-sm-12 header-btn">
                <p>I write about non-technical stuff in the technical world</p>
                <a class="btn-1" href="{% url 'blog' %}">Blog</a>
                <a class="btn-2" href="{% url 'about' %}">About</a>
            </div>
            <div class="row footer">
                <div class="col-12">
                    <p>© 2023 codial.com</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>